<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2 mt-2">
  <h4>Listado de usuarios</h4>
  <div class="col text-end">
    <button routerLink="/home/user/nuevo" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      Nuevo
    </button>
  </div>
</div>
<div class="form-group me-2">
  <input  name="filterUser"
          [(ngModel)]="filterUser"
          (keyup)="buscar(filterUser)"
          class="form-control" 
          type="search" 
          placeholder="Buscar por ID, nombre, apellido, email, cliente, ..." 
          aria-label="Search">
</div> 
<table matSort (matSortChange)="sortData($event)" class="table table-condensed table-striped" *ngIf="!cargando && sortedData.length>0">
  <thead>
    <tr> 
      <th scope="col" class="col-sm-1" mat-sort-header="id">#ID</th>
      <th scope="col" class="col-sm-2" mat-sort-header="nombre">Nombre</th>
      <th scope="col" class="col-sm-3" mat-sort-header="apellidos">Apellidos</th>
      <th scope="col" class="col-sm-3" mat-sort-header="correo">Correo electrónico</th>
      <th scope="col" class="col-sm-1" mat-sort-header="rol">Rol</th>
      <th scope="col" class="col-sm-2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of sortedData |user:filterUser:page:linesPages:sortedData.length; let i =index">
      <td >{{user.id}} <span *ngIf="user.filter" class="badge bg-warning text-dark">cli</span></td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>
        <i *ngIf="user.rol.id===0" class="fas fa-user-plus"
          placement="bottom" ngbTooltip="Superusuario" [openDelay]="300"></i>
        <i *ngIf="user.rol.id===1" class="fas fa-house-user"
          placement="bottom" ngbTooltip="Propietario" [openDelay]="300"></i>
        <i *ngIf="user.rol.id===3" class="fas fa-user-cog"
          placement="bottom" ngbTooltip="Otros" [openDelay]="300"></i>
        <i *ngIf="user.rol.id!=0 && user.rol.id!=1 && user.rol.id!=3" 
          class="far fa-question-circle" placement="bottom" 
          ngbTooltip="Gestión propietario" [openDelay]="300"></i>

      </td>
      <td>
        <div>
        <button type="button" 
                class="btn btn-light btn-sm mr-1" 
                (click)="editUser(user)" 
                placement="bottom" ngbTooltip="Editar" [openDelay]="300">
          <i class="fas fa-edit"></i>
        </button>
        &nbsp;
        <button type="button" 
                class="btn btn-light btn-sm" 
                (click)="removeUser(user,i)"
                placement="bottom" ngbTooltip="Borrar" [openDelay]="300">
          <i class="far fa-trash-alt"></i>
        </button>
        &nbsp;
        <button type="button" 
                class="btn btn-light btn-sm" 
                (click)="sitessUser(user)"
                placement="bottom" ngbTooltip="Emplazamientos accesibles" [openDelay]="300">
                <i class="fas fa-tv"></i>
        </button>
        </div>
       </td>
    </tr>
  
  </tbody>
</table>

<div class="text-center mt-3" *ngIf="cargando">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="d-grid text-center d-md-block" 
  *ngIf="sortedData.length>linesPages">
  <button class="btn btn-outline-secondary btn-sm"
          (click)="prevPage()"
          [disabled]="page===0">
    Pag. Anterior
  </button>
  &nbsp;
  <button class="btn btn-outline-secondary btn-sm"
          (click)="nextPage()"
          [disabled]="(sortedData |user:filterUser:page:linesPages).length<linesPages  || sortedData.length=== page+linesPages"> 
    Pag. Siguiente
  </button>
</div>


