<!-- 
<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse" style="background-color: #6ab04c;">
 -->
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]= "['']">
      <img src="assets/img/letra y.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

          <li class="nav-item"> 
            <a class="nav-link active" [routerLink]= "['customer-list']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">{{'navbar.text1'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['user-list']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">{{'navbar.text2'|translate}}</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['venue-list']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">{{'navbar.text3'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['site-list/todos']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">{{'navbar.text4'|translate}}</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="d-flex nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span><i class="fas fa-user"></i>    {{userName}}</span>
      </a>
      <ul class="dropdown-menu desplegable" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>             
      </ul>
    </div>
  </div>
</nav>