
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <!-- Bloque de botones --> 
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4 mt-2">
    <h4 *ngIf="newCustomer" class="col"> {{'customer.title'|translate}} </h4>  
    <h4 *ngIf="!newCustomer" class="col"> {{'customer.title2'|translate}}<small class="text-muted"> (#{{currentCustomer.id}})</small></h4>  
    <button type="button" class="btn btn-outline-primary btn-block"
      (click)="abandonarPagina()"> 
      <i class="fas fa-arrow-left"></i>
      {{'general.backButton'|translate}}
    </button>
    <!-- Boton guardar formulario-->
    <label class="col-form-label">&nbsp;</label>
    <button type="submit" class=" btn btn-success btn-block">
      {{'general.saveButton'|translate}}
    </button>
  </div>
  <!-- Fin bloque botones -->
  <!-- Bloque datos de cliente -->
  <div class="form-group">
      <!--ID cliente-->
      <div class="form-group row mb-2">
        <div class="col-3">
          <label class="form-label" for="inpuId">{{'customer.field1'|translate}}</label>
          <input class="form-control"
                  id="inputId"
                  type="text"
                  formControlName="identification"
                  [class.is-invalid]="IDNoValido">
          <small *ngIf="IDNoValido" class="text-danger">{{msgError('identification')}}</small>
       <!-- 
          <small *ngIf="IDNoValido" class="text-danger">{{msgError('identification')}}</small>
       -->
        </div> 
        <!-- Fin ID cliente -->
        <!--Nombre de cliente-->
        <div class="col-7">
          <label class="form-label" for="inputNombre">{{'customer.field2'|translate}}</label>
          <input class="form-control"
                id="inputNombre"
                type="text"
                formControlName="nombre"
                [class.is-invalid]="nombreNoValido">
          <small *ngIf="nombreNoValido" class="text-danger">{{msgError('nombre')}}</small>
        </div>
        <!-- Fin nombre de cliente -->
         <!-- Fecha de alta-->
      <div class="col-2" *ngIf="!newCustomer">
        <label class="form-label" for="inputFechaAlta">{{'customer.field3'|translate}}</label>
        <p class=" p-2 cajaFecha">{{currentCustomer.entryDate|date:'mediumDate'}}</p>
      </div>
      <!-- Fin fecha de alta -->
      </div>

      <!--Telefono  del cliente-->
      <div class="form-group row">
         <!--Nombre de cliente-->
         <div class="col-7">
          <label class="form-label" for="inputNombreContacto">{{'customer.field4'|translate}}</label>
          <input class="form-control"
                id="inputNombreContacto"
                type="text"
                  formControlName="nombreContacto"
                [class.is-invalid]="nombreContactoNoValido">
          <small *ngIf="nombreContactoNoValido" class="text-danger">{{msgError('nombreContacto')}}</small>
        </div>
        <!-- Fin nombre de cliente -->
        <div class="col-3">
          <label class="form-label" for="inputTelefono">{{'customer.field5'|translate}}</label>
          <input class="form-control"
                    id="inputTelefono"
                    type="text"
                    
                    formControlName="telefono"
                    [class.is-invalid]="telefonoNoValido">     
          <small *ngIf="telefonoNoValido" class="text-danger">{{msgError('telefono')}}</small>
        </div>
      <!-- <div class="col-9"></div> -->
      </div>
    <!--  Fin Telefono de cliente  -->


    </div>
    <!-- Fin Bloque datos de cliente --> 
    <hr>
  
    <!-- Bloque Pestañas de listas de datos de cliente   -->
    <div>  
      <!-- Titulos de pestañas -->
      <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="marca-tab" data-bs-toggle="tab" data-bs-target="#marca" type="button" role="tab" aria-controls="marca" aria-selected="true">{{'customer.tabTitle1'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="regionmercado-tab" data-bs-toggle="tab" data-bs-target="#regionmercado" type="button" role="tab" aria-controls="regionmercado" aria-selected="false">{{'customer.tabTitle2'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="localizacionpantalla-tab" data-bs-toggle="tab" data-bs-target="#localizacionpantalla" type="button" role="tab" aria-controls="localizacionpantalla" aria-selected="false">{{'customer.tabTitle3'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="codigo-tab" data-bs-toggle="tab" data-bs-target="#codigo" type="button" role="tab" aria-controls="codigo" aria-selected="false">{{'customer.tabTitle4'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="horario-tab" data-bs-toggle="tab" data-bs-target="#horario" type="button" role="tab" aria-controls="horario" aria-selected="false">{{'customer.tabTitle5'|translate}}</button>
        </li>
      </ul>
  
      <!-- Contenidos pestañas -->
      <div class="tab-content" id="myTabContent"> 
        <!--  Pestaña Marcas Comerciales  -->
        <div class="tab-pane fade show active mt-3" id="marca" role="tabpanel" aria-labelledby="marca-tab">
          <div class="row container-fluid">
            <div class="col">
              <table class="table">
                <thead class="table-light">
                  <tr>
                    <th class="col-1">{{'customer.tabHeaderId'|translate}}</th> 
                    <th class="col-4">{{'customer.tab1Header1'|translate}}</th>
                    <th class="col-1">{{'customer.tab1Header2'|translate}}</th>
                    <th class="col-4">{{'customer.tab1Header3'|translate}}</th>
                    <th class="col-1"></th>
                    <th class="col-1">{{'customer.tabHeaderAccions'|translate}}</th>
                  </tr>
                </thead>
                <tbody formArrayName="marca">
                  <tr *ngFor="let a of marca.controls; let marcaIndex=index" [formGroupName]="marcaIndex">
                    <th>
                      {{marcaIndex+1}}
                    </th>
                    <td>
                      <input class="form-control"
                        type="text"
                        placeholder="{{'customer.tab1placeholder1'|translate}}"
                        formControlName="nombreMarca"
                        [class.is-invalid]="a.get('nombreMarca').invalid && a.get('nombreMarca').touched">
                      <small *ngIf="a.get('nombreMarca').invalid && a.get('nombreMarca').touched" class="text-danger">{{msgErrorArray('nombreMarca',marcaIndex)}}</small>             
                    </td>  
                    <td>
                      <input class="form-control form-control-color" 
                        type="color" 
                        id="colorInput"
                        value="#000000"
                        formControlName="colorMarca">
                    </td>
                    <td>  
                      <input (change)="capturarFile($event,marcaIndex)"
                        class="form-control"
                        type="file"
                        accept="image/png/jpeg"
                        formControlName="imagenMarca">         
        
                    </td> 
                    <td>       
                      <div>
                        <img id="fileMarca" class="img-thumbnail" [src]="binariosImagenMarca[marcaIndex]">
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-light" (click)="removeMarca(marcaIndex)"
                         placement="bottom" ngbTooltip="{{'general.deleteButton'|translate}}" [openDelay]="300">
                        <i class="far fa-trash-alt"></i>                    
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">  
            <button class="btn btn-outline-primary mt-3 btn-block" 
                    type="button" (click)="addMarca()">
                    {{'customer.tab1AddItem'|translate}}
            </button>
          </div> 
        </div>
        <!-- Fin pestaña marcas comerciales -->  
  
        <!-- Pestaña Región de mercado   -->
        <div class="tab-pane fade mt-3" id="regionmercado" role="tabpanel" aria-labelledby="regionmercado-tab">  
          <div class="row container-fluid">
            <div class="col">
              <table class="table">
                <thead class=table-light>
                  <tr>
                    <th>{{'customer.tabHeaderId'|translate}}</th>
                    <th>{{'customer.tab2Header1'|translate}}</th>
                    <th>{{'customer.tabHeaderAccions'|translate}}</th>
                  </tr>
                </thead>
                <tbody formArrayName="regionMercado">
                  <tr *ngFor="let a of regionMercado.controls; let regionMercadoIndex=index" [formGroupName]="regionMercadoIndex">
                    <th>
                      {{regionMercadoIndex+1}}
                    </th>
                    <td>
                      <input class="form-control"
                        type="text"
                        placeholder="{{'customer.tab2placeholder1'|translate}}"
                        formControlName="nombreRegionMercado"
                        [class.is-invalid]="a.get('nombreRegionMercado').invalid && a.get('nombreRegionMercado').touched">
                      <small *ngIf="a.get('nombreRegionMercado').invalid && a.get('nombreRegionMercado').touched" class="text-danger">{{msgErrorArray('nombreRegionMercado',regionMercadoIndex)}}</small>             
                    </td>  
                    <td>
                      <button type="button" class="btn btn-light" (click)="removeRegionMercado(regionMercadoIndex)"
                            placement="bottom" ngbTooltip="{{'general.deleteButton'|translate}}" [openDelay]="300">
                        <i class="far fa-trash-alt"></i>                    
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">  
            <button class="btn btn-outline-primary mt-3 mb-3 btn-block" type="button" (click)="addRegionMercado()">
              {{'customer.tab2AddItem'|translate}}
            </button>
          </div>
        </div>
        <!-- Fin pestaña regiones comerciales -->
        <!-- Localización de pantalla   -->
        <div class="tab-pane fade  mt-3" id="localizacionpantalla" role="tabpanel" aria-labelledby="localizacionpantalla-tab">
          <div class="row container-fluid">
            <div class="col">
              <table class="table">
                <thead class=table-light>
                  <tr>
                    <th>{{'customer.tabHeaderId'|translate}}</th>
                    <th>{{'customer.tab3Header1'|translate}}</th>
                    <th>{{'customer.tabHeaderAccions'|translate}}</th>
                  </tr>
                </thead>
                    <tbody formArrayName="localizacionPantalla">
                      <tr *ngFor="let a of localizacionPantalla.controls; let localizacionPantallaIndex=index" [formGroupName]="localizacionPantallaIndex">
                        <th>
                          {{localizacionPantallaIndex+1}}
                        </th>
                        <td>
                          <input class="form-control"
                            type="text"
                            placeholder="{{'customer.tab3placeholder1'|translate}}"
                            formControlName="nombreLocalizacionPantalla"
                            [class.is-invalid]="a.get('nombreLocalizacionPantalla').invalid && a.get('nombreLocalizacionPantalla').touched">
                          <small *ngIf="a.get('nombreLocalizacionPantalla').invalid && a.get('nombreLocalizacionPantalla').touched" class="text-danger">{{msgErrorArray('nombreLocalizacionPantalla',localizacionPantallaIndex)}}</small>             
                        </td>  
                    <td>
                      <button type="button" class="btn btn-light" (click)="removeLocalizacionPantalla(localizacionPantallaIndex)"
                            placement="bottom" ngbTooltip="{{'general.deleteButton'|translate}}" [openDelay]="300">
                        <i class="far fa-trash-alt"></i>                    
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">  
            <button class="btn btn-outline-primary mt-3 mb-3 btn-block" type="button" (click)="addLocalizacionPantalla()">
              {{'customer.tab3AddItem'|translate}}
            </button>
          </div>
        </div>
        <!-- Fin localizacion de pantallas -->
        <!-- Codigos de emplazamiento   -->
        <div class="tab-pane fade  mt-3" id="codigo" role="tabpanel" aria-labelledby="codigo-tab">
          <div class="row container-fluid">
            <div class="col">
              <table class="table">
                <thead class=table-light>
                  <tr>
                    <th>{{'customer.tabHeaderId'|translate}}</th>
                    <th>{{'customer.tab4Header1'|translate}}</th>
                    <th>{{'customer.tabHeaderAccions'|translate}}</th>
                  </tr>
                </thead>
                <tbody formArrayName="codigo">
                  <tr *ngFor="let a of codigo.controls; let codigoIndex=index" [formGroupName]="codigoIndex">
                    <th>
                      {{codigoIndex+1}}
                    </th>
                    <td>
                      <input class="form-control"
                        type="text"
                        placeholder="{{'customer.tab4placeholder1'|translate}}"
                        formControlName="acronymCodigo"
                        [class.is-invalid]="a.get('acronymCodigo').invalid && a.get('acronymCodigo').touched">
                      <small *ngIf="a.get('acronymCodigo').invalid && a.get('acronymCodigo').touched" class="text-danger">{{msgErrorArray('acronymCodigo',codigoIndex)}}</small>             
                    </td>  
                    <td>
                      <button type="button" class="btn btn-light" (click)="removeCodigo(codigoIndex)"
                            placement="bottom" ngbTooltip="{{'general.deleteButton'|translate}}" [openDelay]="300">
                        <i class="far fa-trash-alt"></i>                    
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">  
            <button class="btn btn-outline-primary mt-3 mb-3 btn-block" type="button" (click)="addCodigo()">
              {{'customer.tab4AddItem'|translate}}
            </button>
          </div>
        </div>
        <!-- Fin codigo de emplazamientos -->
        <!-- Pestaña Horarios  -->
        <div class="tab-pane fade mt-3" id="horario" role="tabpanel" aria-labelledby="horario-tab">  
          <div class="row container-fluid">
            <div class="col">
              <table class="table">
                <thead class=table-light>
                  <tr>
                    <th class="col-1">{{'customer.tabHeaderId'|translate}}</th>
                    <th class="col-3">{{'customer.tab5Header1'|translate}}</th>
                    <th class="col-2">{{'customer.tab5Header2'|translate}}</th>
                    <th class="col-3">{{'customer.tab5Header3'|translate}}</th>
                    <th class="col-3">{{'customer.tabHeaderAccions'|translate}}</th>
                  </tr>
                </thead>
                <tbody formArrayName="horario">
                  <tr *ngFor="let a of horario.controls; let horarioIndex=index" [formGroupName]="horarioIndex">
                    <th>
                      {{horarioIndex+1}}
                    </th>
                    <td>
                      <input class="form-control"
                      type="text"
                      placeholder="{{'customer.tab5placeholder1'|translate}}"
                      formControlName="descripcionHorario"
                      [class.is-invalid]="a.get('descripcionHorario').invalid && a.get('descripcionHorario').touched">
                      <small *ngIf="a.get('descripcionHorario').invalid && a.get('descripcionHorario').touched" class="text-danger">{{msgErrorArray('descripcionHorario',horarioIndex)}}</small>         
                    </td>
                    <td>
                      <input class="form-control"
                      type="text"
                      placeholder="{{'customer.tab5placeholder2'|translate}}"
                      formControlName="diaInicio"
                      [class.is-invalid]="a.get('diaInicio').invalid && a.get('diaInicio').touched">
                      <small *ngIf="a.get('diaInicio').invalid && a.get('diaInicio').touched" class="text-danger">{{msgErrorArray('diaInicio',horarioIndex)}}</small> 
                    </td>  
                    <td>
                      <select class="form-select" formControlName="mesInicio">
                        <option  value="{{b.id}}" *ngFor="let b of month"       
                                [selected]="selectMesHorario(b.id,horarioIndex)"
                                [class.is-invalid]="a.get('mesInicio').invalid && a.get('mesInicio').touched">{{b.description}}</option>
                      </select>     
                      <small *ngIf="a.get('mesInicio').invalid && a.get('mesInicio').touched" class="text-danger">{{msgErrorArray('mesInicio',horarioIndex)}}</small>             
                    </td>

                    <td>
                      <button type="button" class="btn btn-light"
                              placement="bottom" ngbTooltip="{{'general.setScheduleButton'|translate}}" [openDelay]="300"
                              (click)="setHorario(content,horarioIndex)">
                        <i class="far fa-clock"></i>
                      </button>
                      &nbsp;
                      <button type="button" class="btn btn-light" (click)="removeHorario(horarioIndex)"
                            placement="bottom" ngbTooltip="{{'general.deleteButton'|translate}}" [openDelay]="300">
                        <i class="far fa-trash-alt"></i>                    
                      </button>
                    </td>
<!-- Modal  Horario semanal -->  
<!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'customer.modalScheduleTitle'|translate}} ({{a.get('descripcionHorario').value}}) </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm">
      <thead class=table-light>
        <tr>
          
          <th class="col-2">{{'customer.modalScheduleHeader1'|translate}}</th>
          <th class="col-2">{{'customer.modalScheduleHeader2'|translate}}</th>
          <th class="col-2">{{'customer.modalScheduleHeader3'|translate}}</th>
          <th class="col-2">{{'customer.modalScheduleHeader2'|translate}}</th>
          <th class="col-2">{{'customer.modalScheduleHeader3'|translate}}</th>
          <th class="col-2">{{'customer.tabHeaderAccions'|translate}}</th>
        </tr>
      </thead>
      <tbody formArrayName="weekly">
        <tr *ngFor="let d of weekly.controls; let weeklyIndex=index" [formGroupName]="weeklyIndex">       
        <th>
          {{d.get('descripcionDiaSemana').value}}
        </th>
        <td>
          <input class="form-control"
          type="time"           
          formControlName="horaApertura1"
          [class.is-invalid]="d.get('horaApertura1').invalid && d.get('horaApertura1').touched">
          <small *ngIf="d.get('horaApertura1').invalid && d.get('horaApertura1').touched" class="text-danger">{{msgErrorArray('horaApertura1',weeklyIndex)}}</small> 
        </td> 

        <td>
          <input class="form-control"
          type="time"        
          formControlName="horaCierre1"
          [class.is-invalid]="d.get('horaCierre1').invalid && d.get('horaCierre1').touched">
          <small *ngIf="d.get('horaCierre1').invalid && d.get('horaCierre1').touched" class="text-danger">{{msgErrorArray('horaCierre1',weeklyIndex)}}</small> 
        </td>
        <td>  
          <input class="form-control"
          type="time"
  
          formControlName="horaApertura2"
          [class.is-invalid]="d.get('horaApertura2').invalid && d.get('horaApertura2').touched">
          <small *ngIf="d.get('horaApertura2').invalid && d.get('horaApertura2').touched" class="text-danger">{{msgErrorArray('horaApertura2',weeklyIndex)}}</small> 
        </td>
        <td>
          <input class="form-control"
          type="time"

          formControlName="horaCierre2"
          [class.is-invalid]="d.get('horaCierre2').invalid && d.get('horaCierre2').touched">
          <small *ngIf="d.get('horaCierre2').invalid && d.get('horaCierre2').touched" class="text-danger">{{msgErrorArray('horaCierre2',weeklyIndex)}}</small> 
        </td>  
        <td> 
          <button type="button" class="btn btn-light"
                  placement="bottom" ngbTooltip="{{'general.repeatScheduleButton'|translate}}"  [openDelay]="300"
                  (click)="repetirHorarioDia(weeklyIndex)">
                  <!-- <i class="bi bi-arrow-repeat"></i> -->
            <i class="fas fa-arrow-circle-down"></i> 
          </button>
          &nbsp;            
          <button type="button" class="btn btn-light"
                  placement="bottom" ngbTooltip="{{'general.deleteScheduleButton'|translate}}"  [openDelay]="300"
                  (click)="borrarHorarioDia(weeklyIndex)">
            <i class="fas fa-eraser"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-block" (click)="modal.close('Save click')">{{'general.saveButton'|translate}}</button>
  </div>
</ng-template>
<!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
<!-- Fin Modal  Horario semanal-->

                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">  
            <button class="btn btn-outline-primary mt-3 mb-3" type="button" (click)="addHorario()">
              {{'customer.tab5AddItem'|translate}}
            </button>
          </div>
        </div>
        <!-- Fin pestaña horarios -->     
      </div>  
      <!-- Fin Contenidos pestañas -->
    </div>
    <!-- Fin bloque Pestañas de listas de datos de cliente    --> 

</form>
<!-- <hr>

<pre>
  estado formulario:{{customerForm.valid}}
  <br>
  status:{{customerForm.status}}
  touched:{{customerForm.touched}}
</pre>
<pre>
  {{customerForm.value|json}}
</pre> -->




