<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
  <div class="container">
  <h2>Gestión Yedra</h2>
  <div class="row justify-content-center align-items-center" style="height: 500px">
  

      <div class="col-sm-4 cuadro">
        <div>
          <label class="form-label" for="inputUsuario">{{'login.field1'|translate}}</label>
          <input class="form-control"
                  id="inputUsuario"
                  autocomplete="off"
                  type="text"
                  placeholder="{{'login.field1Placeholder'|translate}}"
                  formControlName="user"
                  [class.is-invalid]="usuarioNoValido">
          <small *ngIf="usuarioNoValido" class="text-danger">{{msgError('user')}}</small>
        </div>
        <div class="mt-3">
          <label class="form-label" for="inputPassword">{{'login.field2'|translate}}</label>
          <input class="form-control"
                  id="inputPassword"
                  autocomplete="off"
                  type="password"
                  placeholder="{{'login.field2Placeholder'|translate}}"
                  formControlName="password"
                  [class.is-invalid]="passwordNoValido">
          <small *ngIf="passwordNoValido" class="text-danger">{{msgError('password')}}</small>
        </div>
        <div class="form-check mt-2">
          <input class="form-check-input" type="checkbox" 
          formControlName="rememberUser"
          id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            {{'login.text1'|translate}}
          </label>
        </div>
        <div class="row mt-4 ms-2 me-2">
          <button type="submit" class=" btn btn-primary" 
                  [disabled]="loginForm.invalid">
                  {{'general.loginButton'|translate}}
          </button>
        </div>
      </div>

  </div>
</div>

</form>
