<div class="d-flex justify-content-center">
home work
</div>
    
<div>  
  <!-- Titulos de pestañas -->
  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="marca-tab" data-bs-toggle="tab" data-bs-target="#marca" type="button" role="tab" aria-controls="marca" aria-selected="true">Marcas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="regionmercado-tab" data-bs-toggle="tab" data-bs-target="#regionmercado" type="button" role="tab" aria-controls="regionmercado" aria-selected="false">Regiones de Mercado</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="localizacionpantalla-tab" data-bs-toggle="tab" data-bs-target="#localizacionpantalla" type="button" role="tab" aria-controls="localizacionpantalla" aria-selected="false">Localización de pantallas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="codigo-tab" data-bs-toggle="tab" data-bs-target="#codigo" type="button" role="tab" aria-controls="codigo" aria-selected="false">Codificación de emplazamientos</button>
    </li>
  </ul>

  <!-- Contenidos pestañas -->
  <div class="tab-content" id="myTabContent"> 
    <!--  Pestaña Marcas Comerciales  -->
    <div class="tab-pane fade show active mt-3" id="marca" role="tabpanel" aria-labelledby="marca-tab">
      <div class="row">
        <div class="col">
         
        </div>
      </div>

    </div>
    <!-- Fin pestaña marcas comerciales -->  

    <!-- Pestaña Región de mercado   -->
    <div class="tab-pane fade mt-3" id="regionmercado" role="tabpanel" aria-labelledby="regionmercado-tab">  
      <div class="row">
        <div class="col">

        </div>
      </div>

    </div>
    <!-- Fin pestaña regiones comerciales -->
    <!-- Localización de pantalla   -->
    <div class="tab-pane fade  mt-3" id="localizacionpantalla" role="tabpanel" aria-labelledby="localizacionpantalla-tab">
      <div class="row">
        <div class="col">

        </div>
      </div>

    </div>
    <!-- Fin localizacion de pantallas -->
    <!-- Codigos de emplazamiento   -->
    <div class="tab-pane fade  mt-3" id="codigo" role="tabpanel" aria-labelledby="codigo-tab">
      <div class="row">
        <div class="col">

        </div>
      </div>

    </div>
    <!-- Fin codigo de emplazamientos -->
  </div>  
  <!-- Fin Contenidos pestañas -->
</div>

  <!-- Fin lista de clientes -->



