<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2 mt-2">
  <h4>Listado de clientes</h4>
  <div class="col text-end">
    <button routerLink="/home/customer/nuevo" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      Nuevo
    </button> 
  </div>
</div>
<div class="form-group me-2">
  <input  name="filterCustomer"
          [(ngModel)]="filterCustomer"
          (keyup)="buscar(filterCustomer)"
          class="form-control" 
          type="search" 
          placeholder="Buscar por ID, CIF, nombre" 
          aria-label="Search">
</div>
<table matSort (matSortChange)="sortData($event)" class="table table-condensed table-striped" *ngIf="!cargando && sortedData.length>0">
  <thead>
    <!-- [ngStyle]="{'width':'100px'}" -->
    <tr>
      <th scope="col" class="col-sm-1" mat-sort-header="id">#ID</th>
      <th scope="col" class="col-sm-2" mat-sort-header="cif">CIF/NIF</th>
      <th scope="col" class="col-sm-5" mat-sort-header="nombre">Nombre</th>
      <th scope="col" class="col-sm-2">Teléfono</th>
      <th scope="col" class="col-sm-2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let customer of sortedData |customer:filterCustomer:page:linesPages:sortedData.length; let i =index">
      <td >{{customer.id}}</td> 
      <td>{{customer.identification}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>
        <button type="button" 
                class="btn btn-light btn-sm mr-1" 
                (click)="editCustomer(customer)" 
                placement="bottom" ngbTooltip="Editar" [openDelay]="300">  <!-- [routerLink]="['/customer',customer.id]"> -->
          <i class="fas fa-edit"></i>
        </button>
        &nbsp;
        <button type="button" 
                class="btn btn-light btn-sm" 
                (click)="removeCustomer(customer,i)"
                placement="bottom" ngbTooltip="Borrar" [openDelay]="300">
          <i class="far fa-trash-alt"></i>
        </button>
       </td>
    </tr>
  
  </tbody>
</table>
<div class="text-center mt-3" *ngIf="cargando">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="d-grid text-center d-md-block" 
  *ngIf="sortedData.length>linesPages">
  <button class="btn btn-outline-secondary btn-sm"
          (click)="prevPage()"
          [disabled]="page===0">
    Pag. Anterior
  </button>
  &nbsp;
  <button class="btn btn-outline-secondary btn-sm"
          (click)="nextPage()"
          [disabled]="(sortedData |customer:filterCustomer:page:linesPages).length<linesPages || sortedData.length=== page+linesPages"> 
    Pag. Siguiente
  </button>
</div>

