<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2 mt-2">
  <h4>{{'venueList.title'|translate}}</h4>
  <div class="col text-end">
    <button routerLink="/home/venue/nuevo" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      {{'general.newButton'|translate}}
    </button>
  </div>
</div>

<div class="form-group mt-2">
  <input  name="filterVenue"
          [(ngModel)]="filterVenue"
          (keyup)="buscar(filterVenue)"
          class="form-control" 
          type="search" 
          placeholder="{{'venueList.filter'|translate}}" 
          aria-label="Search">
</div>
<table  matSort (matSortChange)="sortData($event)" class="table table-condensed table-striped" *ngIf="!cargando && sortedData.length>0" >
  <thead>
    <!-- [ngStyle]="{'width':'100px'}" -->
    <tr>
      <th scope="col" class="col-sm-1" mat-sort-header="id">{{'venueList.header1'|translate}}</th>
      <th scope="col" class="col-sm-3" mat-sort-header="nombre">{{'venueList.header2'|translate}}</th>
      <th scope="col" class="col-sm-3" mat-sort-header="localizacion">{{'venueList.header3'|translate}}</th>
      <th scope="col" class="col-sm-3" mat-sort-header="direccion">{{'venueList.header4'|translate}}</th>
      <th scope="col" class="col-sm-2">{{'venueList.header5'|translate}}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let venue of sortedData | venue:filterVenue:page:linesPages:sortedData.length; let i =index">
      <td >{{venue.id}} <span *ngIf="venue.filter" class="badge bg-warning text-dark">{{venue.customer.name}}</span></td>
      <td>{{venue.name}}</td>
      <td>{{venue.location[venue.location.length-1].territorialEntityName}} ({{venue.location[venue.location.length-2].territorialEntityName}})</td>
      <td>{{venue.roadType.description}} {{venue.address}} {{venue.streetNumber}}</td>
      <td>
        <button type="button" 
                class="btn btn-light btn-sm mr-1" 
                (click)="editVenue(venue)" 
                placement="bottom" ngbTooltip="{{'general.editButton'|translate}}" [openDelay]="300">
          <i class="fas fa-edit"></i>
        </button>
        &nbsp;
        <button type="button" 
                class="btn btn-light btn-sm" 
                (click)="removeVenue(venue)"
                placement="bottom" ngbTooltip="{{'general.deleteButton'|translate}}" [openDelay]="300">
          <i class="far fa-trash-alt"></i>
        </button>
        &nbsp;
        <button type="button" 
                class="btn btn-light btn-sm position-relative" 
                (click)="sitesList(content,i)"
                placement="bottom" ngbTooltip="{{'general.sitesButton'|translate}}" [openDelay]="300">
                <i class="fas fa-tv"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                  {{venue.sites.length}}
                </span>
        </button>    
       </td>

<!-- Modal  Lista de emplazamientos ng-bootstrap-->
  <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-sites">{{'venueList.modalTitle'|translate}} {{venue.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm">
      <thead class=table-light>
        <tr>
          <th class="col-1">{{'venueList.header1'|translate}}</th>
          <th class="col-1">{{'venueList.header6'|translate}}</th>
          <th class="col-3">{{'venueList.header7'|translate}}</th>
          <th class="col-1">{{'venueList.header8'|translate}}</th>
          <th class="col-1">{{'venueList.header5'|translate}}</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let d of venue.sites">       
              <th>{{d.id}}</th>
              <td>{{d.siteComercialId}}</td>
              <td>{{d.screenLocation.description}}</td>

              <td>   
                <i *ngIf="d.status.id===1" class="bi bi-cone-striped" style="font-size: 1rem;"
                  placement="bottom" ngbTooltip="{{d.status.description}}" [openDelay]="300"></i>
                <i *ngIf="d.status.id===2" class="bi bi-check-circle" style="font-size: 1rem;"
                  placement="bottom" ngbTooltip="{{d.status.description}}" [openDelay]="300"></i>
                <i *ngIf="d.status.id===3" class="bi bi-exclamation-circle" style="font-size: 1rem;"
                  placement="bottom" ngbTooltip="{{d.status.description}}" [openDelay]="300"></i>
                <i *ngIf="d.status.id===4" class="bi bi-x-circle" style="font-size: 1rem;"
                  placement="bottom" ngbTooltip="{{d.status.description}}" [openDelay]="300"></i>
                &nbsp;
     
                <span *ngIf="d.player.license.valid" class="text-success"
                      placement="bottom" ngbTooltip="{{d.player.license.text}}" [openDelay]="300">
                  <!-- <mat-icon aria-hidden="false" aria-label="License icon">workspace_premium</mat-icon>  -->
                  <i class="fas fa-medal"></i>
                </span>  
                <span *ngIf="!d.player.license.valid" class="text-danger" 
                      placement="bottom" ngbTooltip="{{d.player.license.text}}" [openDelay]="300">
                  <i class="fas fa-medal"></i>
                </span> 

              </td>
              <td>
                <button type="button" 
                  class="btn btn-light btn-sm mr-1" 
                  (click)="editSite(d.id)" 
                  placement="bottom" ngbTooltip="{{'general.editButton'|translate}}" [openDelay]="300">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
          </tr>   
      </tbody>
    </table>
    <div class="text-center mt-3" *ngIf="venue.sites.length===0">     
      <span>{{'venueList.message1'|translate}}</span>
    </div>
  </div>
</ng-template>
<!-- Fin Modal lista emplazamientos  -->


    </tr> 
  </tbody>
</table>


<div class="text-center mt-3" *ngIf="cargando">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{'general.load'|translate}}</span>
  </div>
</div>

<div class="d-grid text-center d-md-block" 
  *ngIf="sortedData.length>linesPages">
  <button class="btn btn-outline-secondary btn-sm"
          (click)="prevPage()"
          [disabled]="page===0">
          {{'general.prevPage'|translate}}
  </button>
  &nbsp;
  <button class="btn btn-outline-secondary btn-sm"
          (click)="nextPage()"
          [disabled]="(sortedData |venue:filterVenue:page:linesPages).length<linesPages  || sortedData.length=== page+linesPages"> 
            {{'general.nextPage'|translate}}  
  </button>
</div>


